@font-face {
   font-family: 'SanamDeklen_chaya';
   font-display: swap;
   src: url('file:///C:/Users/COMT/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-30_140916/fonts/SanamDeklen_chaya/font.ttf');
}
